@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
/* font-family: 'Open Sans', sans-serif; */


/* colors */
:root {
    --main: #b29155;
    --white: #dcdcdc;
}


/* Main page styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.main {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
}

.wider {
    transition: all 0.7s ease;
    margin-left: 30px;
    width: calc(100vw - 60px);
}

.narrower {
    transition: all 0.7s ease;
    margin-left: 430px;
    width: calc(100vw - 460px);
}