/* Projects section styles */

.project {
    overflow: hidden;
    transition: height 0.5s ease;
    height: fit-content;
    height: 45px;
}

.project.extended {
    height: 570px;
}

.project-name {
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    font-variant: small-caps;
}

.project-name:hover {
    cursor: pointer;
}

.project.extended > .project-name {
    color: var(--main);
}

.extend-btn {
    display: inline-block;
    margin-left: 5px;
}

.project-name:hover .extend-btn {
    transform: scale(1.2);
    transition: transform .1s ease-in-out;
}

.project-details {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: black transparent;
    scrollbar-width: thin;
    margin: 15px 2%;
    border: 2px solid var(--main);
    border-radius: 10px;
    box-sizing: border-box;
    width: 96%;
    height: 500px;
    padding: 1%;
}

@-moz-document url-prefix() {
    .project-details {
        border-radius: 0;
    }
}

.project-details::-webkit-scrollbar {
    width: 8px;
}

.project-details::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: black;
}

.project-details::-webkit-scrollbar-track {
    background: transparent;
}

.project-details-header {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
}

.project-details-content {
    margin: 15px 10px 0;
    text-align: justify;
    text-justify: inter-word;
}

.yt-link {
    text-decoration: underline;
}

.yt-link:hover {
    color: var(--main);
    text-decoration: underline;
}

.project-details-screens {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-around;
    display: flex;
    margin-top: 20px;
}

.project-screen:hover {
    transform: scale(1.02);
    transition: transform .2s linear;
    cursor: zoom-in;
}

.project-details-technologies {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
}

.project-technology {
    flex-direction: row;
    align-items: center;
    display: flex;
    margin: 10px;
    font-size: 35px;
}

.project-technology-name {
    display: block;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.project-icon-img {
    width: 35px;
    height: 35px;
}

.github-link {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}

.github-link a:hover {
    color: var(--main);
}