/* Projects section styles */

.projects-section-wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    width: 95%;
}

.wider .project-section-wrapper {
    width: 100%;
}


/* card with project */

.project {
    display: inline-block;
    margin: 0 25px;
    -webkit-box-shadow: 8px 5px 20px -1px var(--shadow);
    -moz-box-shadow: 8px 5px 20px -1px var(--shadow);
    box-shadow: 8px 5px 20px -1px var(--shadow);
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 40px;
    height: fit-content;
    padding: 1% 2%;
    background-color: black;
    white-space: normal;
}


/* cards width dependent on general inf area display */

.wider .project {
    transition: width 0.7s ease;
    width: 45%;
}

.narrower .project {
    transition: width 0.7s ease;
    width: 85%;
    max-width: 850px;
}


/* project header block */

.project-header {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    height: 50px;
    background-color: black;
    font-weight: 600;
    text-align: center;
    font-variant: small-caps;
}

.project-name {
    margin: 0 0 7px 10px;
    font-size: 35px;
}

.project-links-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.project-links-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 210px;

}

.project-link-container {
    justify-content: center;
    display: flex;
    width: 100px;
}

.project-link {
    flex-direction: row;
    align-items: center;
    display: flex;
    margin: 10px 5px;
    border-radius: 10px;
    width: 100%;
    padding: 3px 5px;
    background-color: var(--main);
    font-size: 20px;
    color: black;
}

.project-link:hover {
    transition: all .08s linear;
    padding: 4px 6px;
    color: var(--main-darker);
}

.project-link:focus {
    color: black;
}

.project-link-name {
    font-size: 16px;
}


/* project technologies block */

.project-technologies-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
}

.project-technology {
    flex-direction: row;
    align-items: center;
    display: flex;
    margin: 5px 10px;
    font-size: 25px;
}

.project-technology-name {
    display: block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.project-icon-img {
    width: 25px;
    height: 25px;
}


/* project details block */

.project-details {
    padding: 0 3%;
    font-size: 14px;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 1px;
}

.yt-link {
    text-decoration: underline;
}

.yt-link:hover {
    color: var(--main);
    text-decoration: underline;
}


/* project screen block */

.project-screen {
    justify-content: center;
    display: flex;
}


/* line dividing blocks */
.project-header,
.project-technologies-list,
.project-details {
    margin-bottom: 20px;
    border-bottom: 2px solid var(--main);
    padding-bottom: 20px;
}