/* reset styles */
* {
    margin: 0;
    padding: 0;
}

h1, a, ul {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
    list-style: none;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

button {
    display: block;
    border: 0;
    background: none;
	cursor: pointer;
	font: inherit;
}