/* Style changes with width under 1000px */

@media screen and (max-width: 1000px)  {
    .main {
        margin-left: 0;
        width: 100%;
    }

    .name {
        left: auto;
        width: 100%;
        font-size: 25px;
        text-align: center;
    }
        
    .menu {
        justify-content: center;
        align-items: flex-end;
        height: 80px;
    }

    .nav-btn {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .change-lang {
        margin: 0 5px -1px 0;
    }

    .general {
        position: static;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .general-details {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        margin: 80px 0 30px;
    }

    .photo {
        display: none;
    }

    .general-details > div {
        width: fit-content;
    }

    .general-wrapper {
        width: 260px;
    }

    .general-btn {
        display: none;
    }

    .section-header{
        font-size: 30px;
    }

    .section-header-icon {
        font-size: 50px;
    }

    .about-data {
        font-size: 14px;
    }

    .contact-data {
        font-size: 14px;
    }
}


/* Change photo dimensions with height under 650px */

@media screen and (max-height: 650px) {
    .photo {
        width: 120px;
        height: 120px;
    }
}


/* Change project cards style with width under 1250px and 640px */

@media screen and (max-width: 1250px) {
    .project {
        transition: all 0.7s ease;
        padding-top: 0;
    }

    .wider .project {
        transition: width 0.7s ease;
        width: 85%;
    }
    
    .project-name {
        transition: all 0.7s ease;
        margin: 12px 0 0;
        font-size: 30px;

    }

}

@media screen and (max-width: 640px) {
    .project {
        min-height: 0;
    }

    .wider .project {
            transition: width 0.7s ease;
            width: 95%
    }

    .narrower .project {
        transition: width 0.7s ease;
        width: 95%
}

    .project-header {
        align-items: center;
        transition: all 0.7s ease;
        height: 70px;
        padding-bottom: 0;
    }
    
    .project-name {
        transition: all 0.7s ease;
        margin: 0;
        width: 100%;
        height: fit-content;
        padding: 0 5%;
        font-size: 25px;
        line-height: 25px;
    }

    .project-technology {
        transition: all 0.7s ease;
        font-size: 15px;
    }
    
    .project-technology-name {
        transition: all 0.7s ease;
        font-size: 10px;
    }

    .project-icon-img {
        transition: all 0.7s ease;
        width: 15px;
        height: 15px;
    }

    .project-details {
        transition: all 0.7s ease;
        margin: 0;
        border: 0;
        padding: 0 5% 7%;
        font-size: 12px;
    }

    .project-screen {
        display: none;
    }

    .project-links-wrapper {
        flex-direction: column;
        justify-content: center;
        transition: all 0.7s ease;
        width: 80px;
        height: 70px;
    }

    .project-link-container {
        justify-content: flex-start;
        align-items: center;
        transition: all 0.7s ease;
        width: 75px;
        height: 26px;
    }

    .project-link {
        transition: all 0.7s ease;
        margin: 3px 0 0;
        border-radius: 10px;
        height: fit-content;
        font-size: 14px;
    }

    .project-link-name {
        transition: all 0.7s ease;
        font-size: 12px;
    }
}