/* Common section styles */
section {
    min-height: calc(100vh - 60px);
}

.section-header {
    margin: -60px 0 0 25px;
    /* border-bottom: 3px solid var(--main); */
    width: fit-content;
    padding: 90px 10px 0;
    font-size: 45px;
    font-weight: 600;
    color: var(--main);
    font-variant: small-caps;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-header-icon {
    font-size: 60px;
    margin-right: 15px;
}

.section-container {
    margin: 50px auto 0;
    width: 90%;
}


/* Introduction section styles */
.introduction-section {
    margin-top: 60px;
}


/* Projects section styles */
.project {
    overflow: hidden;
    transition: max-height 0.5s ease;
    height: fit-content;
    max-height: 45px;
}

.project.extended {
    max-height: 800px;   /*ustalić wartość po zapełnieniu wszystkich sekcji */
}

.project-name {
    width: fit-content;
    font-size: 30px;
    font-weight: 600;
    font-variant: small-caps;
}

.project-name:hover {
    cursor: pointer;
}

.project.extended > .project-name {
    color: var(--main);
}

.extend-btn {
    display: inline-block;
    margin-left: 5px;
}

.project-name:hover .extend-btn {
    transform: scale(1.2);
    transition: transform .1s ease-in-out;
}

.project-details {
    margin: 15px 2%;
    width: 96%;
    padding: 1%;
    border: 2px solid var(--main);
    border-radius: 10px;
    box-sizing: border-box;
}

.project-details-header {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.project-details-content {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.project-details-screens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: -10px;
}

.project-screen:hover {
    transform: scale(1.02);
    transition: transform .2s linear;
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.project-details-technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.technology-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    margin: 10px;
}

.technology-name {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}