/* reset styles */
* {
    margin: 0;
    padding: 0;
}

button {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
	cursor: pointer;
	font: inherit;
}

h1 {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}





/* colors */

:root {
    --main: #b29155;
    --white: #dcdcdc;
    --about-width: 400px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wider {
    margin-left: 30px;
    width: calc(100vw - 60px);
    transition: all 0.7s ease;
}

.narrower {
    margin-left: 430px;
    width: calc(100vw - 460px);
    transition: all 0.7s ease;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
}

.nav-btn {
    display: block;
    margin: 0 1%;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.underline
{
    position: relative;
}

.underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.underline:hover:before {
    visibility: visible;
    width: 100%;
}


.active {
    color: var(--main);
}

.active.underline:before {
    background-color: var(--main);
    /* transition: background-color 0s; */
}



.about {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100vh;
    background-color: black;
    z-index: 20;
}

.photo {
    border: 5px solid var(--main);
    border-radius: 50%;
}

.about-details {
    margin: 100px 70px 0;
    color: var(--white);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}


.about-btn {
    width: 30px;
    height: 100vh;
    line-height: 100vh;
    background-color: black;
    color: var(--white);
    text-align: center;
}

.about-btn:hover {
    color: var(--main);
}

.visible {
    left: 30px;
    transition: left 0.7s ease;
}

.invisible {
    left: -370px;
    transition: left 0.7s ease;
}




section {
    min-height: calc(100vh - 60px);
}

.introduction-section {
    margin-top: 60px;
}

.section-header {
    margin: -60px 0 0 25px;
    padding: 90px 10px 0;
    width: fit-content;
    font-size: 25px;
    font-weight: bold;
    color: var(--main);
    border-bottom: 3px solid var(--main);
}

.section-container {
    margin: 50px auto 0;
    width: 90%;
}


.project {
    overflow: hidden;
    height: 35px;
    transition: height 0.7s ease;

}

.project.extended {
    height: 150px;
}

.project-name {
    width: fit-content;
    font-weight: bold;
}

.project-name:hover {
    cursor: pointer;
}

.project-name.underline:before {
    background-color: black;
    /* transition: background-color 0s; */
}


.project-details {
    margin: 15px 2%;
    width: 96%;
}


.project.extended > .project-name {
    color: var(--main);
}

.project.extended > .underline:before {
    background-color: var(--main);
    /* transition: background-color 0s; */
}